.main-container {
  background-color: #011338;
  color: white;
  padding-left: calc(10px + 2vmin);
  padding-right: calc(10px + 2vmin);
  padding-top: calc(15px + 2vmin);
  min-height: 100vh;
}

.app-header {
  padding-bottom: calc(1px + 2vmin);
}

.add-city-form {
  font-size: small;
  justify-content: right;
}

.city-weather-item {
  background-color: #20242c;
  color: white;
  border: black 2px solid;
  padding: 10px;
  margin: 3px;
  box-sizing: border-box;
  width: 25%;
}

.city-weather-item {
  display: inline-block;
  flex-direction: block;
}

.title {
  text-align: left;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}
