.title {
  text-align: left;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}

.container {
  background-color: #011338;
  color: white;
  padding-left: calc(10px + 2vmin);
  padding-top: calc(10px + 2vmin);
  min-height: 100vh;
}

.AddCityForm {
  text-align: right;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #011338;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: calc(10px + 2vmin);
  padding-top: calc(10px + 2vmin);
}
